%h1 イベントを編集する
= render 'edit_form', event_form: @event_form, event_dates: @event.event_dates.date_latest, event_url_path: @event.url_path
= link_to 'イベントを削除する', event_path(@event.url_path), method: :delete, data: { confirm: '本当によろしいですか？' }
|
= link_to '戻る', event_path(@event.url_path)
