%h1 イベント一覧
%table
  %thead
    %tr
      %th イベント名
      %th{:colspan => "3"}
  %tbody
    - if @user_events
      - @user_events.each do |event|
        %tr
          %td= event.title
          %td= link_to '詳細', event_path(event.url_path)
%br/
= link_to '新規作成', new_event_path
