$default-font-size: 17px;
$default-line-height: 1.3;
$font-size-s: $default-font-size - 2;
@import "_variable";

body {
  background-color: $body_bg;
  color: $body;
  margin: 33px;
  font-family: $pc_font_family;
  font-size: $default-font-size;
  line-height: $default-line-height;
}

p, ol, ul, td {
  font-family: $pc_font_family;
  font-size: $default-font-size;
  line-height: $default-line-height;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: $font-size-s;
}

a {
  &:visited {
    color: $body;
  }
}

#table-wrap {
  overflow-y: scroll;
}

th {
  white-space: nowrap;
  text-align: center;
  padding-bottom: 5px;
}

td {
  white-space: nowrap;
  text-align: center;
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

input {
  font-size: $default-font-size;
}

textarea {
  font-size: $default-font-size;
}

h1 {
  color: $green_D;
}

hr {
  border: none;
  height: 1px;
  background-color: $base_border;
}
